<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="public\Assets\Images\favicon.ico" >
    <title > <%= title %></title>
    <link rel="shdasd icon" href="public\Assets\Images\favicon.ico" >
    <link rel="shordsada icon" href="/favicon.ico" >
    <link rel='stylesheet' href='/Content/app.css' />
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='\@fortawesome\fontawesome-free\css\all.min.css' />
    
  </head>
