<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" > <img style="max-height: 35px; max-width: 35px;" src="images\Logo.png" alt=""> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent ">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"style="color: aliceblue; font-family:  Comic Sans MS " href="/"> <i class="fas fa-home"></i>Home</a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" style="color: aliceblue; font-family:  Comic Sans MS "  href="/services">  <i class="fas fa-cogs"></i>Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" style="color: aliceblue; font-family:  Comic Sans MS " href="/Contact"><i class="fas fa-phone-square"></i>Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"style="color: aliceblue; font-family:  Comic Sans MS " href="/about"><i class="far fa-address-card"></i>About me  </a>
          </li>
          <li class="nav-item   ">
            <a class=  "nav-link active" href="/project"    aria-expanded="false" style="color: aliceblue; font-family:  Comic Sans MS  "  >
              <i class="fas fa-laptop-code"></i>  Projects
            
            </a>
            
          </li>
        </ul>
        
      </div>
    </div>
  </nav>