<%- include Partials/header.ejs %>
    <!--navigation bar-->  
    <%- include Partials/main_nav.ejs %>

    <div class="container" style="padding-top: 20px;">
        <div id="content">
          <div id="about">
            <h1>
              <div style='float:left; margin-bottom:20px;'>
                Mohammadfarid fakori
              </div>
             
            </h1>
            <h3 style='clear:both' class="subhead">
              <a >faridfakori</a> is an enthusiastic, young, self-taught web applications developer.
            <img style="max-width:100px;
             max-height: 100px;
              border-radius: 50%;
               border: solid 1px black;
               box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;"  src="/images/1.png" />
             
            </h3>
            <h3>
            <p id='pright'>
             you can check my work and my main website and my resume on<a href="http://faridfakori.com"> faridfakori</a>
            </p>
            <p id='pright'>
              this is my pdf resume <button class=" btn btn-success"  > <a href="https://easyupload.io/3i058y" style="color: #fff; text-decoration: none;" >Download PDF</a> </button>
             </p>
          </h3>
            
          </div>
        </div>
      </div>

<%- include Partials/bottom_nav.ejs %>
<%- include Partials/footer.ejs %>

