<%- include Partials/header.ejs %>
    <!--navigation bar-->  
    <%- include Partials/main_nav.ejs %>
    <div class="container" style="padding-top: 20px;">
        <div id="content">
          <div id="about">
            <h1>
              <div style='float:left; margin-bottom:20px;'>
                Mohammadfarid fakori
              </div>
             
            </h1>
            <div class="container" style="padding-top: 100px;">
            <h2>
                I built lots of games you can check them out on my website : <a href="http://faridfakori.com"> faridfakori.com</a>
              <br></br> <img style= "max-width:400px;
               max-height: 400;"src="/images/spaceship.png" >
                 <a style= "max-width:400px;
                 max-height: 400;"
                 href ="http://faridfakori.com/Files/Spaceshooter2D.zip"> SpaceShooter2D </a> 
                 
               <img
               style= "max-width:400px;
               max-height: 400;" src="/images/towerdefence.png">
               <a style= "max-width:400px;
               max-height: 400;"
               href ="http://faridfakori.com/Files/TD.rar"> Towerdefence </a> 


             



                 <img style= "max-width:400px;
                 max-height: 400;"src="/images/Space.png" >
                 Upcoming Game
               
            </h2>
            
        </div>
         
            
          </div>
        </div>
      </div>
    <%- include Partials/bottom_nav.ejs %>
<%- include Partials/footer.ejs %>
